/code.png
/code1.png
/fan.html
/function.html
/function1.html
/function2.html
/function4.html
/function5.html
/function6.html
/ifstatement.html
/index.html
/index.js
/index2.html
/lampLight.png
/layout.png
/opeartor1.html
/operator.html
/pattern.png
/starPattern.html
/starPattern1.html
/switchCase.html